export RESTIC_REPOSITORY=       # Example: s3:http://<ipaddr>:9000/restic-agelter-test
export RESTIC_PASSWORD=         # Example: myPassword
export SNAPSHOTS_TO_REMEMBER=3
export PATH_TO_BACKUP=          # Example: /backup/file
export AWS_SECRET_ACCESS_KEY=   # Example foo/bar
export AWS_ACCESS_KEY_ID=       # Example: blehKeyId 
