[Unit]
Description=backup clean of %i
OnFailure=run-backup-onfailure@%i.service
After=run-backup@%i.service

[Service]
User=agelter
ExecStart=/root/bin/call_restic %i.env clean
