[Unit]
Description=backup of %i
OnFailure=run-backup-onfailure@%i.service

[Service]
User=_USER_
Type=oneshot
ExecStart=/root/bin/call_restic %i.env backup
